:root {
  --accent: #e297a4;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
  margin-top: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}